div.settings {
    position: absolute;
    width: 50% ;
    margin-left: 30%;
    top: 15%;
    display:grid;
    grid-template-columns: max-content 100%;
    grid-gap:15px;

}

div.settings label{ 
    text-align:right; 
}

label{
    font-size: 18px;
}

input{
    width: 65%;
}
button{
    position: absolute;
    margin-left: 45%;
    top: 50%;
}