

<div class="box">
    
    <div class="settings">
        
       
        <div >     
            <label >Referente a qual módulo precisa de uma nova funcionalidade?</label><br>
            <input type="checkbox"><a>Financeiro</a><br>
            <input type="checkbox"><a>Rotinas</a><br>
            <input type="checkbox"><a>Relatórios</a><br>
            <input type="checkbox"><a>Cadastros</a><br>
            <input type="checkbox"><a>Outros</a>
            
        </div>
    
    
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descreva sua necessidade da maneira mais detalhada possível:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="Digite aqui" [(ngModel)]="Motivo_Atendimento"></textarea>
          </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Como deseja ser contatado? </label>
            <select>
                <option>Whastapp</option>
                <option>Telefone</option>
                <option>Skype</option>
              </select>
          </div>
        <button id="salvar"  class="btn btn-success ">Enviar</button>
    
    
       
    
      
    </div> 
    </div>
    
    