<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-x" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-size: 20px;" id="ModalLabel">Avalie o Atendimento</h5>
   
        </div>
          <ng-rating-bar  style="margin-left: 38%;"  *ngIf="MostrarAvaliacaoHabilitada" [(value)]="value" [ratingCount]="5"></ng-rating-bar>
          <ng-rating-bar  style="margin-left: 38%;"  *ngIf="MostrarAvaliacaoDesabilitada"  [disabled]="true" [(value)]="value" [ratingCount]="5"></ng-rating-bar>
        <button (click)="avaliarAtendimentoService()" style="margin: 15px 15px;" class="btn btn-success">Avaliar</button>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
 
  <mat-toolbar>
    <button mat-icon-button  style="left: 87%"  (click)="exportarRelatorio()">  <mat-icon>file_copy</mat-icon> Exportar</button>
  </mat-toolbar>
  
  <div *ngIf="MostrarTabela" id="lista">
    <table class="table  table-bordered">
      <thead class="table-success">
        <tr>
            <th>Id</th>
            <th>Motivo</th>
            <th>Contato</th>
            <th>Solução</th>
            <th>Avaliação</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let dataItem of AtendimentosLista">
        <td>{{dataItem.id}}</td>
        <td>{{dataItem.motivo}}</td>
        <td>{{dataItem.meiodecontato}}</td>
        <td>{{dataItem.solucao}}</td>
        <td>{{dataItem.avaliacao}}</td>
        <td type="date">{{dataItem.data | date: 'dd/MM/yyyy' }}</td>
        <td><button (click)="editaAtendimento(dataItem)" data-toggle="modal" data-target="#Modal">Avaliar Atendimento</button></td>
      </tr>
    </tbody>
  </table>
  </div>

  <mat-spinner *ngIf="MostraLoading"></mat-spinner>