<div class="settings">
    <div >     
        <label >Referente a qual módulo precisa de suporte?</label><br>
        <input type="checkbox" (click)="setarModulo()" [(ngModel)]="Rotinas"><a>Rotinas</a><a>    (Exemplo: Faturamento, Estoque, Sped Fiscal, Sicca e etc.)</a><br>
        <input type="checkbox" (click)="setarModulo()" [(ngModel)]="Relatorios"><a>Relatórios</a><br>
        <input type="checkbox" (click)="setarModulo()" [(ngModel)]="Cadastros"><a>Cadastros</a><br>
        <input type="checkbox" (click)="setarModulo()" [(ngModel)]="Financeiro"><a>Financeiro</a><br>
        <input type="checkbox" (click)="setarModulo()" [(ngModel)]="Produto"><a>Atualização do Compêndio Eletrônico (Digite o nome do produto e o número de registro MAPA abaixo)</a><br>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descreva o problema ou dúvida:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="Digite aqui" [(ngModel)]="Motivo"></textarea>
      </div>
    <button (click)="addAtendimento()" id="salvar"  class="btn btn-success ">Enviar</button>
</div> 

