

<div class="box">
    
    <div class="settings">
            <label >Qual nível de treinamento deseja? </label><br>
            <input  (click)="setarModulo()" [(ngModel)]="Basico" type="checkbox"><a>Nível Básico</a><br>
            <a style="font-size: 12px;">Apresentação do sistema e suas funcionalidades para te deixar familiarizado com o aGrow</a><br>
            <input  (click)="setarModulo()" [(ngModel)]="Avancado" type="checkbox"><a>Nível Avançado</a><br>
            <a style="font-size: 12px;">Revisão de conceitos em regras de negócio específicas, dúvidas gerais e dicas para melhorar e facilitar a gestão, elaborado para quem já tem experiência com o aGrow </a> <br>
         
    
    
    </div> 

    
    <button (click)="addTreinamento()" class="btn btn-success">Solicitar Orçamento</button>
    