div.settings {
    width: 50% ;
    margin-left: 25%;
}
label{
    font-size: 18px;
    margin-top: 5%;
}
input{
    margin-top: 2%;
}

button{    
    margin-top: 2%;
    margin-left: 40%;
}

select{
    margin-left: 2%;
}
