table{
    position: relative;
}

mat-toolbar{
    position: relative;
    background-color: rgb(77, 156, 84);
    color: white;
}

.filtro{
    margin-left: 12%;
    color: black;
    background-color: rgb(77, 156, 84);
    font-size: 12px;
    

} 
mat-spinner{
    margin-left: 45%;
}