<!--<mat-toolbar  id="toolbar">
    <button (click)="toggleSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
     </button>
    <span>aGrow</span>
    <span class="example-spacer"></span>
    <form class="form-inline">
      <input id="input-search" class="form-control mr-sm-2" type="search" placeholder="O que deseja?" aria-label="Search">
    </form>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="fazerLogout()" mat-icon-button class="example-icon">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>



<ng-sidebar-container><ng-sidebar [opened]="opened">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding >
      <button (click)="mostraComponente(node)"> {{node.name}}</button>
    </mat-tree-node>
    <mat-tree-node class="btnLinks" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding  routerLinkActive="active">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
        {{node.name}}</button>
    </mat-tree-node>
  </mat-tree>
</ng-sidebar></ng-sidebar-container>
-->
<router-outlet></router-outlet>