<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-x" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="font-size: 20px;" class="modal-title" id="ModalLabel">Edita Atendimento</h5>
        <button mat-icon-button  class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="col-sm-2 col-form-label">Selecione o Cliente:</label>
        <div class="col-sm-10">
            <select  class="form-select" [(ngModel)]="Cliente_Atendimento">
                <option *ngFor="let cli of ClientesLista">
                    {{cli.cliente}}
                </option>
            </select>
         </div>
        <label class="col-sm-2 col-form-label">Usuário:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" 
            placeholder="Digite o nome do Usuario" [(ngModel)]="Usuario_Atendimento">
        </div> 
        <label class="col-sm-2 col-form-label">Motivo:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" 
            placeholder="Digite o Motivo" [(ngModel)]="Motivo_Atendimento">
        </div>
        <label class="col-form-label">Meio De Contato:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"
            placeholder="Digite o meio de contato" [(ngModel)]="Meiodecontato_Atendimento">
        </div>
        <label class="col-sm-2 col-form-label">Solução:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" 
            placeholder="Digite a Solucao" [(ngModel)]="Solucao_Atendimento">
        </div>
        <label class="col-sm-6 col-form-label">Foi necessário auxílio do desenvolvimento?</label>
        <div class="col-sm-10">
            <select  class="form-select" [(ngModel)]="Auxilio_Atendimento">
              <option>Não</option>
              <option>Sim</option>
            
            </select>
         </div>
        <label class="col-sm-2 col-form-label">Data:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" [(ngModel)]="Data_Atendimento">
        </div>
      <button (click)="editarAtendimentoService()"  style="margin-left: 35%; margin-top: 2%;" class="btn btn-success">Editar</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>




<mat-toolbar>
  <button mat-icon-button  style="left: 19%; " (click)="mostrarFiltro()"><mat-icon>search</mat-icon>Filtrar</button>
  <button mat-icon-button  style="left: 87%"   (click)="exportarRelatorio()" data-toggle="modal" data-target="#ModalRelatorio">  <mat-icon>file_copy</mat-icon> Exportar</button>

        <!--
        <input style="width: 8%; font-size: 12px; margin-left: 2px;"   [(ngModel)]="ClienteNomeFiltro"  (keyup)="filtroClienteAtendimento()" placeholder=" Cliente">
        <input style="width: 8%; font-size: 12px; margin-left: 2px;"   [(ngModel)]="UsuarioNomeFiltro"  (keyup)="filtroUsuarioAtendimento()" placeholder=" Usuario">
        <input style="width: 8%; font-size: 12px; margin-left: 2px;"   [(ngModel)]="MotivoFiltro"  (keyup)="filtroMotivoAtendimento()" placeholder=" Motivo">
        <input style="width: 8%; font-size: 12px; margin-left: 2px;"   [(ngModel)]="ContatoFiltro"  (keyup)="filtroContatoAtendimento()" placeholder=" Contato">
        <input style="width: 8%; font-size: 12px; margin-left: 2px;"   [(ngModel)]="SolucaoFiltro"  (keyup)="filtroSolucaoAtendimento()" placeholder=" Solução">
        <input style="width: 8%; font-size: 12px; margin-left: 2px;"   [(ngModel)]="AvaliacaoFiltro"  (keyup)="filtroAvaliacaoAtendimento()" placeholder=" Avaliacao">
        <input style="width: 8%; font-size: 12px; margin-left: 2px;"   [(ngModel)]="AtendenteFiltro"  (keyup)="filtroAtendenteAtendimento()" placeholder=" Atendente">
        <input style="width: 12%; margin-left: 2px;" type="date"       [(ngModel)]="DataFiltro"  (click)="filtroDataAtendimento()" (keyup)="filtroDataAtendimento()" placeholder=" Data">
    </div>    -->
</mat-toolbar>
<!--
<mat-toolbar >

    <div class="row">

     <div class="col-sm-1">
       <input class="form-control"  [(ngModel)]="Id_AtendimentoFiltro"  (keyup)="filtroIdAtendimento()"      placeholder=" Id">
     </div>
     <div class="col">
      <input  class="form-control"    [(ngModel)]="ClienteNomeFiltro"  (keyup)="filtroClienteAtendimento()" placeholder=" Cliente">
    </div>
     <div class="col">
       <input  class="form-control"    [(ngModel)]="UsuarioNomeFiltro"  (keyup)="filtroUsuarioAtendimento()" placeholder=" Usuario">
     </div>
     <div class="col">
       <input  class="form-control"    [(ngModel)]="MotivoFiltro"  (keyup)="filtroMotivoAtendimento()" placeholder=" Motivo">
     </div>
     <div class="col">
       <input  class="form-control"    [(ngModel)]="ContatoFiltro"  (keyup)="filtroContatoAtendimento()" placeholder=" Contato">
     </div>
     <div class="col">
       <input  class="form-control"    [(ngModel)]="SolucaoFiltro"  (keyup)="filtroSolucaoAtendimento()" placeholder=" Solução">
     </div>
     <div class="col">
       <input  class="form-control"    [(ngModel)]="AvaliacaoFiltro"  (keyup)="filtroAvaliacaoAtendimento()" placeholder=" Avaliacao">
     </div>
     <div class="col">
       <input  class="form-control"    [(ngModel)]="AtendenteFiltro"  (keyup)="filtroAtendenteAtendimento()" placeholder=" Atendente">
     </div>
     <div class="col">
       <input  class="form-control"  [(ngModel)]="DataFiltro"  (click)="filtroDataAtendimento()" (keyup)="filtroDataAtendimento()" placeholder=" Data">
     </div>

    </div>

</mat-toolbar>

<div id="lista">
<table style="text-align: center;" class="table table-striped table-bordered" >
  <thead class="thead">
      <tr>
          <th>Id</th>
          <th>Cliente</th>
          <th>Usuario</th>
          <th>Motivo</th>
          <th>Contato</th>
          <th>Solução</th>
          <th>Avaliação</th>
          <th>Atendente</th>
          <th>Data</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody class="tbody">
    <tr *ngFor="let dataItem of AtendimentosLista">
      <td style="word-wrap: break-word;">{{dataItem.id}}</td>
      <td style="word-wrap: break-word;">{{dataItem.cliente}}</td>
      <td style="word-wrap: break-word;">{{dataItem.usuario}}</td>
      <td style="word-wrap: break-word;">{{dataItem.motivo}}</td>
      <td style="word-wrap: break-word;">{{dataItem.meiodecontato}}</td>
      <td style="word-wrap: break-word;">{{dataItem.solucao}}</td>
      <td style="word-wrap: break-word;">{{dataItem.avaliacao}}</td>
      <td style="word-wrap: break-word;">{{dataItem.atendente}}</td>
      <td type="date">{{dataItem.data | date: 'dd/MM/yyyy' }}</td>
      <td><button mat-icon-button (click)="editaAtendimento(dataItem)"  data-toggle="modal" data-target="#Modal">  <mat-icon>edit</mat-icon></button></td>
      <td><button mat-icon-button (click)="deletarAtendimento(dataItem)" >  <mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>
</table>




</div>-->

<table class="table  table-bordered">
  <thead class="table-success" *ngIf="MostraFiltro">
    <tr>
      <th style="width: 6%;">
        <div class="col">
          <input class="form-control" [(ngModel)]="Id_AtendimentoFiltro"  (keyup)="filtroIdAtendimento()"     >  
         </div>
      </th>
      <th>
      <div class="col">
        <input  class="form-control"    [(ngModel)]="ClienteNomeFiltro"  (keyup)="filtroClienteAtendimento()" >    
       </div>
    </th>
      <th>
       <div class="col">
         <input  class="form-control"    [(ngModel)]="UsuarioNomeFiltro"  (keyup)="filtroUsuarioAtendimento()" >     
         </div>
      </th>
       <th>
       <div class="col">
         <input  class="form-control"    [(ngModel)]="MotivoFiltro"  (keyup)="filtroMotivoAtendimento()" >    
         </div>
      </th>
       <th style="width: 8%;">
       <div class="col">
         <input  class="form-control"    [(ngModel)]="ContatoFiltro"  (keyup)="filtroContatoAtendimento()">
       </div>
      </th>
       <th style="width: 10%;">
       <div class="col">
         <input  class="form-control"    [(ngModel)]="SolucaoFiltro"  (keyup)="filtroSolucaoAtendimento()">      
         </div>
      </th>
       <th >
       <div class="col">
         <input  class="form-control"    [(ngModel)]="AtendenteFiltro"  (keyup)="filtroAtendenteAtendimento()" >
       </div>
       <th style="width: 18%;">
        <div class="col">
          <input type="date" class="form-control" [(ngModel)]="DataFiltro"  (keyup)="filtroDataAtendimento()" (click)="filtroDataAtendimento()">
      </div>
      </th>
      
      <th style="width: 5%;"></th>
      <th style="width: 5%;"></th>
      </tr>
  </thead>
  <thead class="table-success">
    <tr>
      <th>Id</th>
      <th>Cliente</th>
      <th>Usuario</th>
      <th>Motivo</th>
      <th>Contato</th>
      <th>Solução</th>
      <th>Atendente</th>
      <th>Data</th>
      
      <th></th>
      <th></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of AtendimentosLista">
      <td style="word-wrap: break-word;">{{dataItem.id}}</td>
      <td style="word-wrap: break-word;">{{dataItem.cliente}}</td>
      <td style="word-wrap: break-word;">{{dataItem.usuario}}</td>
      <td style="word-wrap: break-word;">{{dataItem.motivo}}</td>
      <td style="word-wrap: break-word;">{{dataItem.meiodecontato}}</td>
      <td style="word-wrap: break-word;">{{dataItem.solucao}}</td>
      <td style="word-wrap: break-word;">{{dataItem.atendente}}</td>
      <td type="date">{{dataItem.data | date: 'dd/MM/yyyy' }}</td>
      <td><button mat-icon-button (click)="editaAtendimento(dataItem)"  data-toggle="modal" data-target="#Modal">  <mat-icon>edit</mat-icon></button></td>
      <td><button mat-icon-button (click)="deletarAtendimento(dataItem)" >  <mat-icon>delete</mat-icon></button></td>
    </tr>
    <button style="visibility: hidden;" >Relatório</button>
  </tbody>
</table>