<mat-toolbar *ngIf="mostrarMenu" id="toolbar">
    <button  (click)="toggleSidebar(opened)" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 1%;">aGrow</span>
    <span class="example-spacer"></span>
    <form class="form-inline">
      <input id="input-search" class="form-control mr-sm-2" type="search" placeholder="O que deseja?">
    </form>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="fazerLogout()" *ngIf="mostrarMenu" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<div id="componentes"><router-outlet></router-outlet></div>

<ng-sidebar-container><ng-sidebar  [(opened)]="opened">
  <!--<app-arvore-recursos (buttonClicked)="toggleSidebar($event)"></app-arvore-recursos>-->
  <app-arvore-recursos-cliente         *ngIf="Cliente" (buttonClicked)="toggleSidebar($event)"></app-arvore-recursos-cliente>
  <app-arvore-recursos-suporte         *ngIf="Suporte" (buttonClicked)="toggleSidebar($event)"></app-arvore-recursos-suporte>
  <app-arvore-recursos-direcao         *ngIf="Direcao"(buttonClicked)="toggleSidebar($event)"></app-arvore-recursos-direcao>
  <app-arvore-recursos-treinamento     *ngIf="Treinamento" (buttonClicked)="toggleSidebar($event)"></app-arvore-recursos-treinamento>
  <app-arvore-recursos-desenvolvimento *ngIf="Desenvolvimento"(buttonClicked)="toggleSidebar($event)"></app-arvore-recursos-desenvolvimento>
  <app-arvore-recursos-comercial *ngIf="Comercial"(buttonClicked)="toggleSidebar($event)"></app-arvore-recursos-comercial>
</ng-sidebar></ng-sidebar-container>



