div.settings {
    width: 50% ;
    margin-left: 35%;
    top: 15%;
}
label{
    font-size: 18px;
}

input{
    width: 65%;
}


#cad_cliente{
    margin-top: 2%;
    margin-left: 80%;
}

#salvar{    
    margin-top: 2%;
    margin-left: 45%;
}


/*div.box{
    position: absolute;
    width:  100%;

    background-color: aqua;
    top: 15%;
}

div.settings {
    position: relative;
    width: 50% ;
    margin-left: 30%;
    top: 15%;
    display:grid;
    grid-template-columns: max-content 100%;
    grid-gap:15px;

}

div.settings label{ 
    text-align:right; 
}

*/