
  <mat-toolbar>

    <div class="filtro">
    
       <div class="row">
        <div class="col-sm-1">
          <mat-icon>search</mat-icon>
        </div>
        <div class="col-sm-2">
          <input   class="form-control"  [(ngModel)]="Id_RelatorioERPFiltro"  (keyup)="filtroIdRelatorioERP()"      placeholder=" Id">
        </div>
          <div class="col-sm-7" style="margin-left: 15%;">
        <input  class="form-control"  [(ngModel)]="RelatorioERPFiltro" (keyup)="filtroRelatorioERP()" placeholder=" Relatório">
      </div>
      </div>
 
  </div>   
  </mat-toolbar>
  
  <div id="lista">
    <table class="table  table-bordered">
      <thead class="table-success">
        <tr>
            <th style="width: 30%;">Código</th>
            <th>Relatório</th>
        </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let dataItem of RelatorioERPLista">
        <td>{{dataItem.id}}</td>
        <td>{{dataItem.relatorioERP}}</td>
      </tr>
    </tbody>
  </table>
  </div>
 