<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-x" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalLabel">Edita Atendimento</h1>
        <button mat-icon-button  class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="col-sm-2 col-form-label">Cliente:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" 
          placeholder="Digite o nome do cliente" [(ngModel)]="Cliente">
       </div> 
       <label class="col-sm-2 col-form-label">Licenças:</label>
       <div class="col-sm-10">
         <input type="text" class="form-control" 
         placeholder="Digite o número de licenças" [(ngModel)]="Licencas">
      </div> 
      <label class="col-sm-2 col-form-label">Versão:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" 
        placeholder="Digite o número da versão do cliente" [(ngModel)]="Versao">
     </div> 
      <label class="col-sm-2 col-form-label">Telefone:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" 
        placeholder="Digite o telefone do cliente" [(ngModel)]="Telefone">
     </div> 
     <label class="col-sm-2 col-form-label">Firebird:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" 
       placeholder="Digite a versão firebird" [(ngModel)]="Firebird">
    </div> 
    <label class="col-sm-2 col-form-label">Validação:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" 
      placeholder="Digite o tempo de validação do cliente" [(ngModel)]="Validacao">
   </div> 
   <label class="col-sm-2 col-form-label">Proxíma Validação:</label>
   <div class="col-sm-10">
    <input type="date" class="form-control" 
    placeholder="Digite a data da proxíma validação do cliente" [(ngModel)]="Validar">
 </div>
   <button (click)="updateCliente()" style="margin-left: 35%; margin-top: 2%;" class="btn btn-success">Editar</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<mat-toolbar>
  <button (click)="mostrarFiltro()" mat-icon-button  style="left: 15%; bottom:10%" ><mat-icon>search</mat-icon>Filtrar</button>
  <button  mat-icon-button  style="left: 87%">  <mat-icon>file_copy</mat-icon> Exportar</button>
</mat-toolbar>

  <table class="table  table-bordered">
    <thead class="table-success" *ngIf="MostraFiltro">
      <tr>
        <th style="width: 6%;">
          <div class="col">
            <input class="form-control" [(ngModel)]="Id_ClienteFiltro" (keyup)="filtroIdCliente()"  >
           </div>
        </th>
        <th style="width: 20%;">
          <div class="col">
            <input class="form-control" [(ngModel)]="ClienteFiltro" (keyup)="filtroCliente()"  >
           </div>
        </th>
        <th>
        <div class="col">
          <input class="form-control" [(ngModel)]="LicencasFiltro" (keyup)="filtroLicencasCliente()" >
         </div>
      </th>
        <th>
         <div class="col">
          <input class="form-control" [(ngModel)]="VersaoFiltro" (keyup)="filtroVersaoCliente()" >
           </div>
        </th>
         <th>
         <div class="col">
          <input class="form-control" [(ngModel)]="TelefoneFiltro" (keyup)="filtroTelefoneCliente()"  >
           </div>
        </th>
         <th style="width: 8%;">
         <div class="col">
          <input class="form-control" [(ngModel)]="FirebirdFiltro" (keyup)="filtroFirebirdCliente()"  >
         </div>
        </th>
         <th style="width: 10%;">
         <div class="col">
          <input class="form-control" [(ngModel)]="ValidacaoFiltro" (keyup)="filtroValidacaoCliente()"  >
           </div>
        </th>
         <th >
         <div class="col">
          <input class="form-control" type="date" [(ngModel)]="ValidarFiltro" (keyup)="filtroValidarCliente()"  >
         </div>
         <th style="width: 5%;">
          <div class="col">
            <input class="form-control" [(ngModel)]="SatisfacaoFiltro" (keyup)="filtroSatisfacaoCliente()"   >
        </div>
        </th>

        <th style="width: 5%;"></th>
        <th style="width: 5%;"></th>
        </tr>
    </thead>
    <thead class="table-success">
          <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Licenças</th>
            <th>Versão</th>
            <th style="width: 18%;">Telefone</th>
            <th>Firebird</th>
            <th>Validação</th>
            <th style="width: 18%;">Próxima Validação</th>
            <th>Satisfação</th>
            <th></th>
            <th></th>
            
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of ClientesLista">
          <td>{{dataItem.id}}</td>
          <td>{{dataItem.cliente}}</td>
          <td>{{dataItem.licencas}}</td>
          <td>{{dataItem.versao}}</td>
          <td>{{dataItem.telefone}}</td>
          <td>{{dataItem.firebird}}</td>
          <td>{{dataItem.validacao}}</td>
          <td>{{dataItem.validar  | date: 'dd/MM/yyyy' }}</td>
          <td>{{dataItem.satisfacao | number:'1.0-0'}}</td>
          <td><button (click) ="editarClienteModal(dataItem)" mat-icon-button   data-toggle="modal" data-target="#Modal">  <mat-icon>edit</mat-icon></button></td>
          <td><button (click) ="deleteCliente(dataItem)" mat-icon-button >  <mat-icon>delete</mat-icon></button></td>
        </tr>
      </tbody>
    </table>
    
   